*.o
*.s
*.a
dft_simd
dft_simd.dSYM
gtest-1.8.0/CMakeCache.txt
gtest-1.8.0/CMakeFiles
gtest-1.8.0/cmake_install.cmake
gtest-1.8.0/Makefile
mybuild

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

